@import "~bootstrap/scss/bootstrap";

// @import "./career/career.scss";

.container-fluid {
    padding: 0;
}

.section-title {
  text-decoration: underline;
}

.section-title-center {
  text-decoration: underline;
  text-align: center;
  margin: auto;
}

a, a:hover {
  color:black;
}

