.photography-body {
    justify-content: center;
    text-align: center;

    .new-additions_wrapper {
        margin: 25px 0;
        .new-additions_header {
            text-align: center;
            text-decoration: underline;
            margin-bottom: 15px;
        }

        .new-additions_tiles {
            justify-content: center;
        }    
    }

    .view-more_btn {
        margin-top: 15px;
        .view-more_text {
            margin: 4px 0;
        }
    }
}