.product-image-active {
    width: 200px;
}

.product-image {
    width: 150px;
}

.products-main__thumbnails {
    width: 500px;
}

.small-item {
    width: 50px;
}

.poster-img__wrapper {
    width: 200px;

    .poster-img {
        width: 550px;
    }

    .img-dim_14x11 {
        width: 550px;
    }

    .img-dim_36x24 {
        width: 550px;
    }
}

