.tile_wrapper {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    vertical-align: center;
    text-align: center;

    .tile {
        min-height: 318px;

        .tile-title {
            margin: 0;
        }
    }
}